<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A game of survival">
    <meta name="author" content="David Moritz">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Game Escape</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="inc/trapped.css">
    <script src="inc/angular.js"></script>
  </head>
  <body ng-app="trappedApp" ng-controller="TrappedCtrl" class="angularNotDone">
    <div ng-if="!isUnlocked(&quot;win&quot;)" class="container">
      <header class="hide">
        <h1>The Game Escape</h1>
      </header>
      <div class="jumbotron">
        <h1 class="digital"> <span ng-hide="session.timeLeft">{{displayTime}}</span></h1>
        <h1 class="ditital"><span ng-show="session.timeLeft">{{session.timeLeft}}</span></h1>
        <div class="displayMessage">
          <h3 ng-repeat="message in session.storedMessages" class="digital">{{message.text}}</h3>
        </div>
        <button ng-click="restartTimer()" ng-show="admin" class="btn btn-primary">Restart Timer</button>
        <button data-toggle="modal" data-target="#previousMessagesModal" ng-show="session" class="btn btn-info">Show All Messages</button>
      </div>
      <ul class="chatbox"></ul>
      <div ng-hide="session" class="chooseTeam nullable">
        <select ng-model="sessionId" ng-options="team.$id as team.name for team in listTeams" class="form-control">
          <option value="" disabled selected>-- choose team --</option>
        </select>
        <button ng-click="chooseSession(sessionId)" class="btn btn-default">Choose Team</button>
      </div>
      <form ng-submit="changeMessage(message)" ng-show="admin">
        <textarea type="text" ng-model="message" class="form-control changeMessage"></textarea>
        <input type="submit" value="Add Message" class="form-control">
      </form>
      <h3 ng-show="session">Team: {{session.name}}</h3>
      <form ng-submit="createTeam(newTeamName)" ng-show="admin">
        <input type="text" ng-model="newTeamName" class="form-control">
        <input type="submit" value="Create Team" class="form-control">
        <button ng-click="finish()" ng-show="admin" class="btn btn-default">Finish!</button>
      </form>
      <div class="row">
        <section class="col-sm-6 col-md-4" ng-repeat="q in questions">
          <h4>Question #{{$index + 1}}</h4>
          <p>{{q.text}}</p>
          <input type="text" ng-model="q.guess" placeholder="{{getPlaceholder(q)}}" class="form-control">
        </section>
      </div>
    </div>
    <div id="previousMessagesModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">All Messages</h4>
          </div>
          <div class="modal-body">
            <p ng-repeat="message in session.storedMessages">{{message.text}}</p>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default">Close</button>
          </div>
        </div>
      </div>
    </div><script src="inc/lib.js"></script><script src="inc/trapped.js"></script>
  </body>
</html>