/***	Admin stylesheets ***/
@import "admin-theme";
@import "/lib/fontawesome/less/font-awesome";
@import "common";

.admin {
	.top-corner {
		position: absolute;
		bottom: 15px;
		right: -35px;
		@media(max-width: @screen-xs-max) {
			bottom: 5px;
			right: 0;
		}
	}
	.controls {
		.btn-float {
			float: left;
			margin: 0 10px 5px 0;
		}
		.btn-float.last {
			float: none;
		}
	}
	.input-group + .input-group {
		margin-top: 5px
	}
	iframe {min-height:400px}
}

#performance-gauge {width: 85%;}
