/***** Common CSS ******/

.pos-rel {
	position: relative;
}
.pointer {
	cursor: pointer;
}
[hidden] {
	display: none;
}
.btn {
	margin-top: 2px;
}
.btn-icon {
	margin-left: 6px;
	font-size: 115%;
}
.alert-flip {
	margin-bottom: 0px;
	margin-top: 20px;
}