/***	Session stylesheets ***/
@import "monokai-theme";
@import "/lib/fontawesome/less/font-awesome";
@import "monokai-colors";
@import "common";

/*html5 display rule (for older browsers to display these html5 tags as block level elements)*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@font-face {
	font-family: digitalFont;
	src: url(../fonts/digital.ttf);
}

@font-face {
	font-family: messageFont;
	src: url(../fonts/monospace.ttf);
}

.digital.digital {
	font-family: digitalFont, messageFont, courier, monospace;
	color: @mk-Class-name;
}

h1.digital {
	text-align: center;
	span {
		font-size: 200%;
	}
}

.choices ul {
	list-style-type: none;

	li {
		display: inline-block;
		float: left;
		margin-right: 20px;
	}
}

.container {
	h2 {
		color: black;
		text-shadow: white 0 0 2px;
	}
	h3 {margin-top: 0;}
	table.battleship {
		th, td {
			text-align: center;
			padding: 2px 7px 3px;
		}
		th {color: #6af;}
		td.active {color: #c00;}
	}
	table.chess {
		th, td {
			text-align: center;
			width: 40px;
			height: 40px;
		}
		th {color: #fff;}
		tr {
			&:nth-child(even) {
				td:nth-child(even) {background-color: #4a4;}
				td:nth-child(odd) {background-color: #ffc;}
			}
			&:nth-child(odd) {
				td:nth-child(odd) {background-color: #4a4;}
				td:nth-child(even) {background-color: #ffc;}
			}
		}
		td.active {background-color: #c00 !important;}
	}
	.btn-group.connect4 {
		width: 100%;

		.btn {width: 14.4%;}
	}
	h4 em {margin-left: 10px;}
}
.displayMessage {
	h3 {
		display: none;
		&:last-child {
			display: block;
			min-height: 26px;
			// opacity: 0;
			font-family: messageFont, monospace;
			color: @mk-String;
			&.typed {
				opacity: 1;
			}
		}
	}
}

footer.clear {margin-top: 90px;}
a {cursor: pointer;}
