include mixins

doctype html
html(ng-app='escapeApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of escape')
		meta(name='author', content='Moritz Company')
		//- for Bootstrap
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/escape.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='AdminCtrl')
		.container
			header.hide
				h1 The Game Escape - Admin
			.jumbotron
				h1.ditital(ng-show='activeTeam.timeRemaining') {{moment(activeTeam.timeRemaining * 1000).format('mm:ss')}}
				.displayMessage
					h3.digital(ng-repeat='message in activeTeam.storedMessages') {{message.text}}
				button.btn.btn-primary(ng-click='restartTimer()' ng-show='admin') Restart Timer
				button.btn.btn-info(data-toggle='modal' data-target='#previousMessagesModal' ng-show='activeTeam') Show All Messages
			.chooseTeam(ng-hide='activeTeam' class='nullable')
				select.form-control(ng-model='teamId' ng-options='team.$id as team.name for team in _.filter(allTeams, {finished: false})')
					option(value='' disabled selected) -- choose team --
				button.btn.btn-default(ng-click='chooseTeam(teamId)') Choose Team
			form(ng-submit='changeMessage(message)')
				textarea.form-control.changeMessage(type='text' ng-model='message')
				input.form-control(type='submit' value='Add Message')
			h3(ng-show='session') Team: {{session.name}}
			form(ng-submit='createTeam(newTeamName)')
				input.form-control(type='text' ng-model='newTeamName')
				input.form-control(type='submit' value='Create Team')
				button.btn.btn-default(ng-click='finish()' ng-show='admin') Finish!
		| @@javascriptReplaceFiles
