include mixins

doctype html
html(ng-app='escapeApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of escape')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/admin.css')
		script(src='inc/angular.js')
	body.admin(ng-cloak, ng-controller='AdminCtrl')
		.container
			header
				h1 The Game Escape - Admin
			.jumbotron.collapse.chooseTeamSection
				.pos-rel
					i.fa.fa-close.top-corner.pointer(data-target=".chooseTeamSection" data-toggle="collapse")
				.row.clearfix
					+col(6)
						select.form-control(ng-model='teamId' ng-options='team.$id as team.name for team in getUnfinishedTeams()')
							option(value='' disabled selected) -- choose team --
						button.btn.btn-primary(ng-click='chooseTeam(teamId)' ng-disabled='formFields.newTeamName' data-target=".chooseTeamSection" data-toggle="collapse") #[i.fa.fa-user-plus] Choose Team
					+col(6)
						form(ng-submit='createTeam()')
							input.form-control(type='text' ng-model='formFields.newTeamName' placeholder='Create New Team')
							button.btn.btn-success(type='submit' ng-disabled='!formFields.newTeamName' data-target=".chooseTeamSection" data-toggle="collapse") #[i.fa.fa-user-plus] Create Team
			form(ng-if='activeTeam' ng-submit='addNewMessage()')
				input.form-control.addMessageInput(type='text' ng-model='formFields.newMessage' placeholder='Send a Message to {{activeTeam.name}}')
				input.form-control(type='submit' ng-disabled='!formFields.newMessage' value='Add Message')
			.alert.alert-warning.alert-flip(role='alert' ng-show='gauge >= 0.1') Yikes! You might want to give them a little nudge.
			.alert.alert-danger.alert-flip(role='alert' ng-show='gauge >= 0.2') Running out of time! Help them out!
			.alert.alert-danger.alert-flip(ng-show='activeTeam.hintInProgress') Hint has been requested.
				button.btn.btn-success(ng-click='remove("hintInProgress")') #[i.fa.fa-check-circle] Resolved
			.row
				+col(null, 3)(ng-show='activeTeam')
					h3 Team: {{activeTeam.name}}
					h5 Started: {{activeTeam.timerStarted ? moment(activeTeam.timerStarted, 'YYYY-MM-DD HH:mm:ss').format('h:mm a') : "false"}}
					h5 Hints: {{activeTeam.hints}}
						i.fa.fa-plus-circle.text-success.pointer.btn-icon(ng-click='adjustAttribute("hints", 1)')
						i.fa.fa-minus-circle.text-danger.pointer.btn-icon(ng-click='adjustAttribute("hints", -1)')
					h5 Time Allowed: {{activeTeam.timeAllowed / 60}} minutes
						i.fa.fa-plus-circle.text-success.pointer.btn-icon(ng-click='adjustAttribute("timeAllowed", 60)')
						i.fa.fa-minus-circle.text-danger.pointer.btn-icon(ng-click='adjustAttribute("timeAllowed", -60)')
				+col(null, 3)
					#performanceGauge(just-gage style="width:85%" value="gauge" min="-0.2" max="0.3" title hide-min-max="true" hide-value="true" gauge-width-scale="2.6" gauge-color="gray")
				+col(null, 6).controls
					label.block(for='advancedControls')
						h3 Controls: #[input(type='checkbox' ng-model='advancedControls' id='advancedControls')]
					button.btn.btn-float.btn-primary.collapse.in.chooseTeamSection(data-target=".chooseTeamSection" data-toggle="collapse" ng-hide='activeTeam') #[i.fa.fa-user-times] Choose Team
					span(ng-show='activeTeam')
						button.btn.btn-float.btn-success(ng-click='setAttribute("timerStarted", {time: true, confirm: "Are you sure?", message: "Timer started"})' ng-hide='activeTeam.timerStarted') #[i.fa.fa-clock-o] Start Game
						button.btn.btn-float.btn-danger(ng-click='setAttribute("alert", {toggle: true, seconds: 3})') #[i.fa.fa-bullhorn] {{activeTeam.alert ? 'Stop Alert' : 'Alert Team'}}
						button.btn.btn-float.btn-info(ng-click='remove("lockoutStarted")' ng-show='activeTeam.lockoutStarted') #[i.fa.fa-unlock] End Lockout
						span(ng-show='advancedControls')
							button.btn.btn-float.btn-primary.collapse.in.chooseTeamSection.inline-block(data-target=".chooseTeamSection" data-toggle="collapse") #[i.fa.fa-user-times] Change Teams
							button.btn.btn-float.btn-warning(ng-click='setAttribute("timerStarted", {time: true, confirm: "Are you sure?", message: "Timer restarted"})' ng-show='activeTeam.timerStarted') #[i.fa.fa-clock-o] Restart Timer
							button.btn.btn-float.btn-danger(ng-click='setAttribute("lockoutStarted", {time: true, seconds: 45})' ng-hide='activeTeam.lockoutStarted') #[i.fa.fa-lock] Lockout
							button.btn.btn-float.last.btn-success(ng-click='setAttribute("finished", {time: true, confirm: "Finish Game?", message: "Congratulations!"})' ng-show='activeTeam.timerStarted && !activeTeam.finished') #[i.fa.fa-star] Finish
							.input-group
								span#puzzleLabel.input-group-addon Puzzle:
								select.form-control(ng-model='formfields.puzzle' ng-options='puzzle.name for (key, puzzle) in allPuzzles')
									option(value='' selected) -- choose puzzle --
								span.input-group-btn
									button.btn.btn-warning(type='button' ng-click='solve(formfields.puzzle)' ng-if='formfields.puzzle && !isSolved(formfields.puzzle)') #[i.fa.fa-exclamation-triangle] Solve
									button.btn.btn-danger(type='button' ng-click='unsolve(formfields.puzzle)' ng-if='isSolved(formfields.puzzle)') #[i.fa.fa-exclamation-triangle] Unsolve
							.input-group
								span#passwordLabel.input-group-addon Password:
								input#teamPassword.form-control(type='text' ng-model='activeTeam.password' aria-describedby='#passwordLabel')
								label.input-group-addon(for='teamPasswordRequired')
									span Required?
									input#teamPasswordRequired(type='checkbox' ng-model='activeTeam.passwordRequired')
									i.fa.btn-icon(class='{{activeTeam.passwordRequired ? "fa-lock" : "fa-unlock"}}')
			iframe(src="session.html" width="100%")
		| @@javascriptReplaceFiles
