include mixins

doctype html
html(ng-app='escapeApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of escape')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/escape.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='EscapeCtrl')
		.container
			header.hide
				h1 The Game Escape
			.jumbotron
				h1.digital
					span {{moment(public.timeRemaining * 1000).format('mm:ss')}}
				.displayMessage
					h3.digital {{public.display}}
			p The Game Escape is an interactive, cooperative, challenging experience that helps demonstrate teamwork and our various telents and strenghts when working in a group. Perfect as a team-building work activity, family experiment, or testing your friends; The Game Escape will stretch you mentally and emotionally. Success is not guaranteed. Will your team get out in time? You'd better move quickly, only have {{moment(public.timeRemaining * 1000).format('mm')}} minutes left.
			a.btn.btn-success(href='session.html') Player?
			a.btn.btn-warning(href='admin.html') Admin?
		| @@javascriptPublicReplaceFiles
