include mixins

doctype html
html(ng-app='escapeApp')
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of escape')
		meta(name='author', content='Moritz Company')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/escape.css')
		script(src='inc/angular.js')
	body(ng-cloak, ng-controller='SessionCtrl')
		#previousMessagesModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss='modal' aria-label='close')
							span(aria-hidden='true') &times;
						h4.modal-title All Messages
					.modal-body
						p(ng-repeat='message in activeTeam.storedMessages') {{message.text}}
					.modal-footer
						button.btn.btn-default(data-dismiss='modal') Close
		.container
			header.hide
				h1 The Game Escape
			.jumbotron
				h1.digital
					span(ng-hide='activeTeam') Loading
						i.fa.fa-spinner.fa-pulse
					span(ng-show='timeRemaining') {{moment(timeRemaining * 1000).format('mm:ss')}}
				.displayMessage
					h3.digital(ng-if='curMsg') {{curMsg.display}}
				button.btn.btn-primary(ng-click='restartTimer()' ng-show='admin') Restart Timer
				button.btn.btn-info(data-toggle='modal' data-target='#previousMessagesModal' ng-show='activeTeam') Show All Messages
			#game(ng-show='activeTeam')
				h3 Team: {{activeTeam.name}}
				.row
					+col(null, 6, 4)
						h4 Question \#{{q.monopoly.id}}
						div(ng-if='!isSolved(q.monopoly)')
							label.sr-only Where did I stay?
							input.form-control(type='text' ng-model='q.monopoly.splitGuess.property' placeholder='Where did I stay?')
							label.sr-only How much money did I have left?
							input.form-control(type='text' ng-model='q.monopoly.splitGuess.money' placeholder='How much money did I have left?')
							button.btn.btn-primary(ng-click='submitGuessSpecial(q.monopoly)') #[i.fa.fa-lightbulb-o] Submit
						div(ng-if='isSolved(q.monopoly)')
							h3 #[i.fa.fa-check] SOLVED!
							button.btn.btn-success(ng-click='toggleNextClue(q.monopoly)') #[i.fa.fa-search] Next Clue
							p(ng-show='q.monopoly.nextClue.visible') {{q.monopoly.nextClue.text}}
		| @@javascriptReplaceFiles
