include mixins

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of survival')
		meta(name='author', content='David Moritz')
		//- for Bootstrap
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Trapped
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/trapped.css')
		script(src='inc/angular.js')
	body.angularNotDone(ng-app='trappedApp', ng-controller='TrappedCtrl')
		.container(ng-if='!isUnlocked("win")')
			header.hide
				h1 Trapped!
			.jumbotron
				h1 {{displayTime}}
				h3 {{session.displayMessage}}
				button(ng-click="restartTimer()" ng-show="admin") Restart Timer
			ul.chatbox
			form(ng-submit="changeMessage()" ng-show="admin")
				textarea(type="text" ng-model="store.message")
				input(type="submit" value="Add Message")
			h3 Team: {{ session.$id }}
		| @@javascriptReplaceFiles
