include mixins

doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='A game of survival')
		meta(name='author', content='David Moritz')
		//- for Bootstrap
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title The Game Escape
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='inc/trapped.css')
		script(src='inc/angular.js')
	body.angularNotDone(ng-app='trappedApp', ng-controller='TrappedCtrl')
		.container(ng-if='!isUnlocked("win")')
			header.hide
				h1 The Game Escape
			.jumbotron
				h1.digital 
					span(ng-hide="session.timeLeft") {{displayTime}}
				h1.ditital
					span(ng-show="session.timeLeft") {{session.timeLeft}}
				.displayMessage
					h3.digital(ng-repeat="message in session.storedMessages") {{message.text}}
				button.btn.btn-primary(ng-click="restartTimer()" ng-show="admin") Restart Timer
				button.btn.btn-info(data-toggle="modal" data-target="#previousMessagesModal" ng-show="session") Show All Messages
			ul.chatbox
			.chooseTeam(ng-hide="session" class="nullable")
				select.form-control(ng-model="sessionId" ng-options="team.$id as team.name for team in listTeams")
					option(value="" disabled selected) -- choose team --
				button.btn.btn-default(ng-click="chooseSession(sessionId)") Choose Team
			form(ng-submit="changeMessage(message)" ng-show="admin")
				textarea.form-control.changeMessage(type="text" ng-model="message")
				input.form-control(type="submit" value="Add Message")
			h3(ng-show="session") Team: {{session.name}}
			form(ng-submit="createTeam(newTeamName)" ng-show="admin")
				input.form-control(type="text" ng-model="newTeamName")
				input.form-control(type="submit" value="Create Team")
				button.btn.btn-default(ng-click="finish()" ng-show="admin") Finish!
			.row
				+col(null, 6, 4)(ng-repeat='q in questions')
					h4 Question \#{{$index + 1}}
					p {{q.text}}
					input.form-control(type='text' ng-model='q.guess' placeholder='{{getPlaceholder(q)}}')
		#previousMessagesModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						button.close(data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")&times;
						h4.modal-title All Messages
					.modal-body
						p(ng-repeat="message in session.storedMessages") {{message.text}}
					.modal-footer
						button.btn.btn-default(data-dismiss="modal") Close
		| @@javascriptReplaceFiles
